---
import HeaderLink from './HeaderLink.astro';
import { Image } from 'astro:assets';
import SocialIcons from '../../components/widgets/SocialIcons.astro';
import AvaLogo from '@src/assets/img/small-ava.jpg';

const menu = [
  { link: '/about/', label: 'About' },
  { link: '/posts/', label: 'Posts' },
  { link: '/projects/', label: 'Projects' },
  { link: '/tags/', label: 'Tags' },
];
---

<header id="site-header" class="w-full py-3">
  <div class="container flex items-center justify-between gap-6">

    <!-- Left: avatar -->
    <a href="/" class="flex items-center">
      <Image src={AvaLogo} alt="Avatar" class="rounded-full w-10 h-10 border-white border-2 shadow-lg"/>
    </a>

    <!-- Middle: nav menu -->
    <nav class="flex items-center gap-4 text-sm">
      <HeaderLink href="/" class="py-1">Home</HeaderLink>
      {
        menu.map((item) => (
          <HeaderLink href={item.link} class="py-1">
            {item.label}
          </HeaderLink>
        ))
      }
    </nav>

    <!-- Right: socials (only) -->
    <div class="flex items-center gap-2">
      <SocialIcons />
    </div>

  </div>
</header>
