@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	pre,
	code {
		font-size: 0.875rem;
	}
}

.prose p {
	font-size: 17px;
	line-height: 1.45;
}

@media (max-width: 768px) {
	.prose {
		max-width: 100% !important;
		width: 100%;
	}
}