{{- $params := .Params | merge .Site.Params.page -}}

<article class="single summary" itemscope itemtype="http://schema.org/Article">

    {{- /* Featured image */ -}}
    {{- $image := $params.featuredimagepreview | default $params.featuredimage -}}
    {{- with .Resources.GetMatch "featured-image" -}} {{ $image = .RelPermalink }} {{ end -}}
    {{- with .Resources.GetMatch "featured-image-preview" -}} {{ $image = .RelPermalink }} {{ end -}}
    {{- with $image -}}
    <div class="featured-image-preview">
        <a href="{{ $.RelPermalink }}">
            {{ dict "Src" . "Title" $.Description "Resources" $.Resources | partial "plugin/img.html" }}
        </a>
    </div>
    {{- end }}

    {{- /* Title */ -}}
    <h1 class="single-title" itemprop="name headline">
        <a href="{{ .RelPermalink }}">{{ .Title | emojify }}</a>
    </h1>

    {{- /* META — ONE SINGLE LINE */ -}}
    <div class="post-meta">
        {{- /* Author */ -}}
        {{- $author := $params.author | default .Site.Params.Author.name -}}
        {{- with $author -}}
        <span class="meta-author">👤 {{ . }}</span>
        {{- end }}

        &nbsp;•&nbsp;

        {{- /* Date */ -}}
        <span class="meta-date">
            {{ .Date.Format "2006-01-02" }}
        </span>

        {{- /* Categories */ -}}
        {{- if .Params.categories }}
        &nbsp;•&nbsp;
        <span class="meta-categories">
                {{- range $i, $c := .Params.categories -}}
                    {{- if $i }}, {{ end -}}
                    <a href="{{ (printf "/categories/%s" $c) | relURL }}">{{ $c }}</a>
            {{- end -}}
            </span>
        {{- end }}
    </div>

</article>
