{{- define "title" -}}
    {{- .Title }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
<div class="page archive">
    <h2 class="single-title animate__animated animate__pulse animate__faster">
        {{ .Title }}
    </h2>

    {{- if eq .Kind "taxonomy" -}}
        {{- $pages := .Pages -}}
        <div class="taxonomy-pages">
            {{- range $pages -}}
            <article class="archive-item">
                <a href="{{ .RelPermalink }}" class="archive-item-link">
                    {{- .Title | emojify -}}
                </a>
            </article>
            {{- end -}}
        </div>
    {{- else if eq .Kind "term" -}}
        {{- $pages := .Pages -}}
        <div class="taxonomy-pages">
            {{- range $pages -}}
            <article class="archive-item">
                <a href="{{ .RelPermalink }}" class="archive-item-link">
                    {{- .Title | emojify -}}
                </a>
            </article>
            {{- end -}}
        </div>
    {{- end -}}
</div>
{{- end -}}
