---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Prose from '../../components/Prose.astro';
import Resources from './resources.md';
---

<BaseLayout
  title="Resources"
  description="Curated learning resources for embedded systems, Arduino, RTOS, and low-level programming."
>
  <div class="container">
    <main class="prose text-lg dark:prose-invert">
      <article>
        <Prose>
          <Resources />
        </Prose>
      </article>
    </main>
  </div>
</BaseLayout>
