---
/* no frontmatter needed */
---

<script is:inline>
  var sc_project = 13166912;
  var sc_invisible = 1;
  var sc_security = "b5be05e2";
</script>
<script src="https://www.statcounter.com/counter/counter.js" async></script>

<noscript>
  <div class="statcounter">
    <a title="Web Analytics" href="https://statcounter.com/" target="_blank">
      <img
        class="statcounter"
        src="https://c.statcounter.com/13166912/0/b5be05e2/1/"
        alt="Web Analytics"
        referrerpolicy="no-referrer-when-downgrade"
      />
    </a>
  </div>
</noscript>

<!-- Google tag (gtag.js) -->
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WMKZ5G9QL5');
</script>
